

.boton{
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 38px;
    border: none;
    color: #ffffff;
    margin: 12px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95ffd4;
}